<div>
  <div>
    <h1>
      Client #<%= @the_client.id %> details
    </h1>

    <div>
      <div>
        <a href="/clients">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_client/<%= @the_client.id %>">
          Delete client
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Client name
      </dt>
      <dd>
        <%= @the_client.client_name %>
      </dd>

      <dt>
        Client email
      </dt>
      <dd>
        <%= @the_client.client_email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_client.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_client.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit client
    </h2>

    <form action="/modify_client/<%= @the_client.id %>"  method="post" >
      <div>
        <label for="client_name_box">
          Client name
        </label>

        <input type="text" id="client_name_box" name="query_client_name" value="<%= @the_client.client_name %>">
      </div>

      <div>
        <label for="client_email_box">
          Client email
        </label>

        <input type="text" id="client_email_box" name="query_client_email" value="<%= @the_client.client_email %>">
      </div>

      <button>
        Update client
      </button>
    </form>
  </div>
</div>

<hr>
<div>
    <h2>
      Client Engagements
    </h2>
  <div>
    <table border = 1>
      <tr>
        <th>
          ID
        </th>

        <th>
          Client
        </th>

        <th>
          User
        </th>

        <th>
          Engagement name
        </th>

        <th>
          Engagement detail
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @the_client.engagements.each do |an_engagement| %>
      <tr>
        <td>
          <%= an_engagement.id %>
        </td>

        <td>
          <%= an_engagement.client.client_name %>
        </td>

        <td>
          <%= an_engagement.user.username %>
        </td>

        <td>
          <%= an_engagement.engagement_name %>
        </td>

        <td>
          <%= an_engagement.engagement_detail %>
        </td>

        <td>
          <%= time_ago_in_words(an_engagement.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_engagement.updated_at) %> ago
        </td>

        <td>
          <a href="/engagements/<%= an_engagement.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new engagement to the client
    </h2>

    <form action="/insert_engagement" method="post">
      <div>
        <input type="hidden" id="client_id_box" name="query_client_id" value="<%= @the_client.id %>">
      </div>

      <%# <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div> %>

      <div>
        <label for="engagement_name_box">
          Engagement name
        </label>

        <input type="text" id="engagement_name_box" name="query_engagement_name">
      </div>

      <div>
        <label for="engagement_detail_box">
          Engagement detail
        </label>

        <input type="text" id="engagement_detail_box" name="query_engagement_detail">
      </div>

      <button>
        Create engagement
      </button>
    </form>
  </div>
</div>