<div>
  <div>
    <h1>
      List of all engagements
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new engagement
    </h2>

    <form action="/insert_engagement" method="post">
      <div>
        <label for="client_id_box">
          Client
        </label>

        <input type="text" id="client_id_box" name="query_client_id">
      </div>

      <div>
        <label for="engagement_name_box">
          Engagement name
        </label>

        <input type="text" id="engagement_name_box" name="query_engagement_name">
      </div>

      <div>
        <label for="engagement_detail_box">
          Engagement detail
        </label>

        <input type="text" id="engagement_detail_box" name="query_engagement_detail">
      </div>

      <button>
        Create engagement
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Client
        </th>

        <th>
          User
        </th>

        <th>
          Engagement name
        </th>

        <th>
          Engagement detail
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_engagements.each do |an_engagement| %>
      <tr>
        <td>
          <%= an_engagement.id %>
        </td>

        <td>
          <%= an_engagement.client.client_name %>
        </td>

        <td>
          <%= an_engagement.user.username %>
        </td>

        <td>
          <%= an_engagement.engagement_name %>
        </td>

        <td>
          <%= an_engagement.engagement_detail %>
        </td>

        <td>
          <%= time_ago_in_words(an_engagement.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_engagement.updated_at) %> ago
        </td>

        <td>
          <a href="/engagements/<%= an_engagement.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
